@import url("normalize.css");

body {
	padding-left: 15%;
	padding-right: 15%;
}

nav {
	border-top: 3px solid #EB7F00;
	margin-top: 10px;
	padding-top: 15px;
	position: fixed;
	width: 70%;

}

.my-name {
	font-family: 'Grand Hotel', cursive;
	font-size: 35px;
	color: #666666;
	display: inline-block;
	text-decoration: none;
	transition: 1s;
	padding-right: 5px;
}

.my-name:hover {
	transition: 1s;
	color: #EB7F00;
}


nav ul {
	display: inline;
	list-style: none;
	padding: 0 8px 0 8px;
	float: right;
}

nav li {
	display: inline;
}

nav .nav-links {
	display: inline;
	text-decoration: none;
	margin: 0 8px 0 8px;
	font-size: 16px;
	font-family: 'Codystar', cursive;
	transition: .5s;
}

nav .nav-links:hover {
	border-bottom: 3px solid #ACF0F2;
	transition: .2s;
}



