@import url("normalize.css");

body {
	padding-left: 160px;
	padding-right: 160px;
}

nav {
	border-top: 3px solid #EB7F00;
	margin-top: 10px;
	padding-top: 15px;
	font-family: 'Grand Hotel', cursive;
}

.my-name {
	font-size: 40px;
	color: #666666;
	display: inline;
}

nav ul {
	display: inline;
	list-style: none;
	padding: 0 8px 0 8px;
	float: right;
}

nav li {
	display: inline;
}

nav a {
	display: inline;
	text-decoration: none;
	margin: 0 8px 0 8px;
}



