@import url("normalize.css");

/* Set up */

body {
	padding-left: 15%;
	padding-right: 15%;
}

/* Nav bar styling */

header {
	border-top: 3px solid #EB7F00;
	margin-top: 50px;
	padding-top: 15px;
	position: fixed;
	width: 70%;

}

.my-name {
	padding-left: 16px;
	font-family: 'Grand Hotel', cursive;
	font-size: 40px;
	color: #666666;
	display: inline-block;
	text-decoration: none;
	transition: 0.9s;
	padding-right: 5px;
}

.my-name:hover {
	transition: 0.9s;
	color: #ACF0F2;
}


header ul {
	display: inline;
	list-style: none;
	float: right;
}

header li {
	display: inline-block;
	padding: 0 8px 0 8px;
}

header .header-links {
	display: inline;
	text-decoration: none;
	margin: 0 8px 0 8px;
	font-size: 16px;
	font-family: 'Codystar', cursive;
	transition: .9s;
	padding-bottom: 10px;
}

header .header-links:hover {
	border-bottom: 3px solid #ACF0F2;
	transition: .9s;
}

/* First section */

.about {
	clear: both;
	margin-top: 30px;
}


