@import url("normalize.css");

/* Set up */

body {
	padding-left: 15%;
	padding-right: 15%;
}

/* Nav bar styling */

header {
	border-top: 3px solid #EB7F00;
	margin-top: 50px;
	padding-top: 15px;
	width: 100%;
	margin-bottom: 10px;

}

.my-name {
	padding-left: 16px;
	font-family: 'Grand Hotel', cursive;
	font-size: 40px;
	color: #666666;
	text-decoration: none;
	transition: 0.9s;
	padding-right: 5px;
}

.my-name:hover {
	transition: 0.9s;
	color: #ACF0F2;
}

.header-links {
	float: right;
	display: inline-block;
	text-decoration: none;
	margin: 0 8px 0 8px;
	font-size: 16px;
	font-family: 'Codystar', cursive;
	transition: .9s;
	padding-top: 20px;
	padding-right: 10px;
}

.header-links:hover {
	border-bottom: 3px solid #ACF0F2;
	transition: .9s;
}


/*=====================================*/




